
.ud_overImage {
    color: white;
    mix-blend-mode: exclusion;
    ;}

    
iframe {
    /*Iframe get light background in dark color schemes and vice versa*/
    color-scheme: light!important; /*Fortunately all css can be overriden unconditoonally in this file*/
  }

[ud-html4-support]{
    color: var(--ud-html4-color,white)!important;
}

svg text,
svg tspan,
svg[udark-guess="logo"] [class]:not([fill]),
svg[udark-guess="logo"] [style]:not([fill])
,svg[udark-guess="logo"] :not([fill]):not([style]):not([class]) 
 {
    fill: var(--ud-fg--fill-color,currentColor)!important;
    /*When we see fill we will propose an alternate value which will be used on detected logos.
     If no fill value was set, use the inherited color attribute, which is defined in currentColor ( And edited ) and if there is none, it will fallback to body color which is white
     Theorically, it's perfect. How long before proven wrong?
     The only Con is the currentColor is edited by a different ligtening algorithm. But it's close enough.
     Note: fill and color in website stylesheets are edited by the same algorithm : revert_rgba which is different from revert_rgba_raw used for the svg stylesheets
     */
}

* {
    scrollbar-color:rgba(255,255,255,0.40) rgba(0,0,0,0.26)
}