
/* New UltimaDark core, 2024 */
:root {
    --uDark_darken_A: 0.4;
    --uDark_darken_B: 0.1;
    --uDark_treshold: 0.2;
    
    --uDark_transform_darken: var(--uDark_transform_darken_treshold);
    --uDark_transform_darken_standard: calc(min( var(--uDark_darken_calc_low) , var(--uDark_darken_calc_high) ));
    --uDark_transform_darken_treshold:calc(min(var(--uDark_darken_calc_low) , var(--uDark_darken_calc_high) ) * var(--uDark_isOverTreshold) + l * (1 - var(--uDark_isOverTreshold)))  ;
    --demo-background: red;
    --uDark_darken_calc_low: 2 * var(--uDark_darken_A) * l;
    --uDark_darken_calc_high: ( 2 * (var(--uDark_darken_B) - var(--uDark_darken_A)) * l + 100 * (2 * var(--uDark_darken_A) - var(--uDark_darken_B)));
    --demo-color: hsl(from var(--demo-background) h s var(--uDark_transform_darken));

    /* This is quite uderstandable and fastest */
    --uDark_isOverTreshold: clamp( 0, ( l - var(--uDark_treshold) * 100 + 0.00001 ) * infinity  ,1); /* 0 if under treshold, 1 if over treshold, + 0.01 avoids a bug on precise values */
    /* Sign css function is not widely available  */
    --uDark_isOverTreshold_sign: max(0 , sign(l - var(--uDark_treshold) * 100));
    --uDark_transform_darken_treshold_sign: calc(min(var(--uDark_darken_calc_low) , var(--uDark_darken_calc_high) ) * var(--uDark_isOverTreshold_sign) + l * (1 - var(--uDark_isOverTreshold_sign)))  ;
   
}
:root{
    --uDark_comp1:clamp( 0, ( var(--uDark_comp1-a) - var(--uDark_comp1-b) + 0.00001 ) * infinity  ,1);
    --uDark_comp2:clamp( 0, ( var(--uDark_comp2-a) - var(--uDark_comp2-b) + 0.00001 ) * infinity  ,1);
    --uDark_comp3:clamp( 0, ( var(--uDark_comp3-a) - var(--uDark_comp3-b) + 0.00001 ) * infinity  ,1);
    --uDark_comp4:clamp( 0, ( var(--uDark_comp4-a) - var(--uDark_comp4-b) + 0.00001 ) * infinity  ,1);
    --uDark_comp5:clamp( 0, ( var(--uDark_comp5-a) - var(--uDark_comp5-b) + 0.00001 ) * infinity  ,1);
    
}
:root {
    --uDark_lighten_A: 0.65;
    --uDark_lighten_B: 1;
    --uDark_transform_lighten: calc(min(2 * l, -2 * l + 200) * (var(--uDark_lighten_A) - var(--uDark_lighten_B)) + var(--uDark_lighten_B) * 100);
    
}
:root{
    --uDark_transform_text_hue: calc(h + var(--uDarkHueAdjust1)); /*Send to closest bound , 222 or 260*/
}
:root{



    --uDark_issueHueLow1:  220;
    --uDark_issueHueHigh1: 260;
    
    --uDark_isOverHueLow1: clamp( 0, ( h - var(--uDark_issueHueLow1) + 0.0001  ) * infinity  ,1);
    --uDark_isUnderHueHigh1: clamp( 0, ( var(--uDark_issueHueHigh1) - h + 0.0001  ) * infinity  ,1);
    --uDarkIsInRange1: (var(--uDark_isUnderHueHigh1) * var(--uDark_isOverHueLow1));
    --uDarkHueAdjust1: var(--uDarkIsInRange1) * (var(--uDark_issueHueLow1) - h) /*  we have the int, now we need to calc the diff with the closest bound  */
}


.ud_overImage {
    color: white;
    mix-blend-mode: exclusion;
    ;}

    
iframe,embed,object,video {
    /*Iframe get light background in dark color schemes and vice versa*/
    /* color-scheme: light!important;  */
    /*This is not needed anymore since we discovered how to have the color-scheme directly inside the frame */
    /*
            matchAboutBlank: true,
            matchOriginAsFallback:true,
            allFrames: true
            */
    /*Fortunately all css can be overriden unconditoonally in this file*/
  }



  
:root{
    color-scheme: dark!important; /*Force dark color scheme:  
    This is sensible to other elements being color-schemed in css, be we have a replace in background css editing for these cases.
    It covers lot of unthinkable cases, including caretcolor */
    
    
}


svg text:not([fill]),
svg tspan:not([fill]),
svg[udark-guess="logo"] [class]:not([fill]),
svg[udark-guess="logo"] [style]:not([fill])
,svg[udark-guess="logo"] :not([fill]):not([style]):not([class])
 {
    fill: var(--ud-fg--fill-color,currentColor)!important;
    /*When we see fill we will propose an alternate value which will be used on detected logos.
     If no fill value was set, use the inherited color attribute, which is defined in currentColor ( And edited ) and if there is none, it will fallback to body color which is white
     Theorically, it's perfect. How long before proven wrong? 6 months : I've found text with fill with overriden color to white . Let's see if we can use a not([fill]) on text and tspan.
     The only Con is the currentColor is edited by a different ligtening algorithm. But it's close enough.
     Note: fill and color in website stylesheets are edited by the same algorithm : revert_rgba which is different from revert_rgba_raw used for the svg stylesheets.
     */
     /* 2024 way, we could define in this css code block the --ud-fg--fill-color.
    --uDark_lighten_A: 0.0; which is equivalent to  revert_rgba_raw especially since  the --ud-fg--fill-color is defined without the --uDark_transform_lighten_hue
    */
}


svg[udark-guess="logo"] [stroke]:not([fill]):not([style]):not([class])
{
    color:transparent!important; /*Do not fill elems used only for borders in previous class*/
}

* {
    scrollbar-color:rgba(255,255,255,0.40) rgba(0,0,0,0.26)
}

svg[udark-guess="logo"] [ud-brightness-0]{color: hsl(0, 0%, 0%)!important}
svg[udark-guess="logo"] [ud-brightness-1]{color: hsl(0, 0%, 1%)!important}
svg[udark-guess="logo"] [ud-brightness-2]{color: hsl(0, 0%, 2%)!important}
svg[udark-guess="logo"] [ud-brightness-3]{color: hsl(0, 0%, 3%)!important}
svg[udark-guess="logo"] [ud-brightness-4]{color: hsl(0, 0%, 4%)!important}
svg[udark-guess="logo"] [ud-brightness-5]{color: hsl(0, 0%, 5%)!important}
svg[udark-guess="logo"] [ud-brightness-6]{color: hsl(0, 0%, 6%)!important}
svg[udark-guess="logo"] [ud-brightness-7]{color: hsl(0, 0%, 7%)!important}
svg[udark-guess="logo"] [ud-brightness-8]{color: hsl(0, 0%, 8%)!important}
svg[udark-guess="logo"] [ud-brightness-9]{color: hsl(0, 0%, 9%)!important}
svg[udark-guess="logo"] [ud-brightness-10]{color: hsl(0, 0%, 10%)!important}
svg[udark-guess="logo"] [ud-brightness-11]{color: hsl(0, 0%, 11%)!important}
svg[udark-guess="logo"] [ud-brightness-12]{color: hsl(0, 0%, 12%)!important}
svg[udark-guess="logo"] [ud-brightness-13]{color: hsl(0, 0%, 13%)!important}
svg[udark-guess="logo"] [ud-brightness-14]{color: hsl(0, 0%, 14%)!important}
svg[udark-guess="logo"] [ud-brightness-15]{color: hsl(0, 0%, 15%)!important}
svg[udark-guess="logo"] [ud-brightness-16]{color: hsl(0, 0%, 16%)!important}
svg[udark-guess="logo"] [ud-brightness-17]{color: hsl(0, 0%, 17%)!important}
svg[udark-guess="logo"] [ud-brightness-18]{color: hsl(0, 0%, 18%)!important}
svg[udark-guess="logo"] [ud-brightness-19]{color: hsl(0, 0%, 19%)!important}
svg[udark-guess="logo"] [ud-brightness-20]{color: hsl(0, 0%, 20%)!important}
svg[udark-guess="logo"] [ud-brightness-21]{color: hsl(0, 0%, 21%)!important}
svg[udark-guess="logo"] [ud-brightness-22]{color: hsl(0, 0%, 22%)!important}
svg[udark-guess="logo"] [ud-brightness-23]{color: hsl(0, 0%, 23%)!important}
svg[udark-guess="logo"] [ud-brightness-24]{color: hsl(0, 0%, 24%)!important}
svg[udark-guess="logo"] [ud-brightness-25]{color: hsl(0, 0%, 25%)!important}
svg[udark-guess="logo"] [ud-brightness-26]{color: hsl(0, 0%, 26%)!important}
svg[udark-guess="logo"] [ud-brightness-27]{color: hsl(0, 0%, 27%)!important}
svg[udark-guess="logo"] [ud-brightness-28]{color: hsl(0, 0%, 28%)!important}
svg[udark-guess="logo"] [ud-brightness-29]{color: hsl(0, 0%, 29%)!important}
svg[udark-guess="logo"] [ud-brightness-30]{color: hsl(0, 0%, 30%)!important}
svg[udark-guess="logo"] [ud-brightness-31]{color: hsl(0, 0%, 31%)!important}
svg[udark-guess="logo"] [ud-brightness-32]{color: hsl(0, 0%, 32%)!important}
svg[udark-guess="logo"] [ud-brightness-33]{color: hsl(0, 0%, 33%)!important}
svg[udark-guess="logo"] [ud-brightness-34]{color: hsl(0, 0%, 34%)!important}
svg[udark-guess="logo"] [ud-brightness-35]{color: hsl(0, 0%, 35%)!important}
svg[udark-guess="logo"] [ud-brightness-36]{color: hsl(0, 0%, 36%)!important}
svg[udark-guess="logo"] [ud-brightness-37]{color: hsl(0, 0%, 37%)!important}
svg[udark-guess="logo"] [ud-brightness-38]{color: hsl(0, 0%, 38%)!important}
svg[udark-guess="logo"] [ud-brightness-39]{color: hsl(0, 0%, 39%)!important}
svg[udark-guess="logo"] [ud-brightness-40]{color: hsl(0, 0%, 40%)!important}
svg[udark-guess="logo"] [ud-brightness-41]{color: hsl(0, 0%, 41%)!important}
svg[udark-guess="logo"] [ud-brightness-42]{color: hsl(0, 0%, 42%)!important}
svg[udark-guess="logo"] [ud-brightness-43]{color: hsl(0, 0%, 43%)!important}
svg[udark-guess="logo"] [ud-brightness-44]{color: hsl(0, 0%, 44%)!important}
svg[udark-guess="logo"] [ud-brightness-45]{color: hsl(0, 0%, 45%)!important}
svg[udark-guess="logo"] [ud-brightness-46]{color: hsl(0, 0%, 46%)!important}
svg[udark-guess="logo"] [ud-brightness-47]{color: hsl(0, 0%, 47%)!important}
svg[udark-guess="logo"] [ud-brightness-48]{color: hsl(0, 0%, 48%)!important}
svg[udark-guess="logo"] [ud-brightness-49]{color: hsl(0, 0%, 49%)!important}
svg[udark-guess="logo"] [ud-brightness-50]{color: hsl(0, 0%, 50%)!important}
svg[udark-guess="logo"] [ud-brightness-51]{color: hsl(0, 0%, 51%)!important}
svg[udark-guess="logo"] [ud-brightness-52]{color: hsl(0, 0%, 52%)!important}
svg[udark-guess="logo"] [ud-brightness-53]{color: hsl(0, 0%, 53%)!important}
svg[udark-guess="logo"] [ud-brightness-54]{color: hsl(0, 0%, 54%)!important}
svg[udark-guess="logo"] [ud-brightness-55]{color: hsl(0, 0%, 55%)!important}
svg[udark-guess="logo"] [ud-brightness-56]{color: hsl(0, 0%, 56%)!important}
svg[udark-guess="logo"] [ud-brightness-57]{color: hsl(0, 0%, 57%)!important}
svg[udark-guess="logo"] [ud-brightness-58]{color: hsl(0, 0%, 58%)!important}
svg[udark-guess="logo"] [ud-brightness-59]{color: hsl(0, 0%, 59%)!important}
svg[udark-guess="logo"] [ud-brightness-60]{color: hsl(0, 0%, 60%)!important}
svg[udark-guess="logo"] [ud-brightness-61]{color: hsl(0, 0%, 61%)!important}
svg[udark-guess="logo"] [ud-brightness-62]{color: hsl(0, 0%, 62%)!important}
svg[udark-guess="logo"] [ud-brightness-63]{color: hsl(0, 0%, 63%)!important}
svg[udark-guess="logo"] [ud-brightness-64]{color: hsl(0, 0%, 64%)!important}
svg[udark-guess="logo"] [ud-brightness-65]{color: hsl(0, 0%, 65%)!important}
svg[udark-guess="logo"] [ud-brightness-66]{color: hsl(0, 0%, 66%)!important}
svg[udark-guess="logo"] [ud-brightness-67]{color: hsl(0, 0%, 67%)!important}
svg[udark-guess="logo"] [ud-brightness-68]{color: hsl(0, 0%, 68%)!important}
svg[udark-guess="logo"] [ud-brightness-69]{color: hsl(0, 0%, 69%)!important}
svg[udark-guess="logo"] [ud-brightness-70]{color: hsl(0, 0%, 70%)!important}
svg[udark-guess="logo"] [ud-brightness-71]{color: hsl(0, 0%, 71%)!important}
svg[udark-guess="logo"] [ud-brightness-72]{color: hsl(0, 0%, 72%)!important}
svg[udark-guess="logo"] [ud-brightness-73]{color: hsl(0, 0%, 73%)!important}
svg[udark-guess="logo"] [ud-brightness-74]{color: hsl(0, 0%, 74%)!important}
svg[udark-guess="logo"] [ud-brightness-75]{color: hsl(0, 0%, 75%)!important}
svg[udark-guess="logo"] [ud-brightness-76]{color: hsl(0, 0%, 76%)!important}
svg[udark-guess="logo"] [ud-brightness-77]{color: hsl(0, 0%, 77%)!important}
svg[udark-guess="logo"] [ud-brightness-78]{color: hsl(0, 0%, 78%)!important}
svg[udark-guess="logo"] [ud-brightness-79]{color: hsl(0, 0%, 79%)!important}
svg[udark-guess="logo"] [ud-brightness-80]{color: hsl(0, 0%, 80%)!important}
svg[udark-guess="logo"] [ud-brightness-81]{color: hsl(0, 0%, 81%)!important}
svg[udark-guess="logo"] [ud-brightness-82]{color: hsl(0, 0%, 82%)!important}
svg[udark-guess="logo"] [ud-brightness-83]{color: hsl(0, 0%, 83%)!important}
svg[udark-guess="logo"] [ud-brightness-84]{color: hsl(0, 0%, 84%)!important}
svg[udark-guess="logo"] [ud-brightness-85]{color: hsl(0, 0%, 85%)!important}
svg[udark-guess="logo"] [ud-brightness-86]{color: hsl(0, 0%, 86%)!important}
svg[udark-guess="logo"] [ud-brightness-87]{color: hsl(0, 0%, 87%)!important}
svg[udark-guess="logo"] [ud-brightness-88]{color: hsl(0, 0%, 88%)!important}
svg[udark-guess="logo"] [ud-brightness-89]{color: hsl(0, 0%, 89%)!important}
svg[udark-guess="logo"] [ud-brightness-90]{color: hsl(0, 0%, 90%)!important}
svg[udark-guess="logo"] [ud-brightness-91]{color: hsl(0, 0%, 91%)!important}
svg[udark-guess="logo"] [ud-brightness-92]{color: hsl(0, 0%, 92%)!important}
svg[udark-guess="logo"] [ud-brightness-93]{color: hsl(0, 0%, 93%)!important}
svg[udark-guess="logo"] [ud-brightness-94]{color: hsl(0, 0%, 94%)!important}
svg[udark-guess="logo"] [ud-brightness-95]{color: hsl(0, 0%, 95%)!important}
svg[udark-guess="logo"] [ud-brightness-96]{color: hsl(0, 0%, 96%)!important}
svg[udark-guess="logo"] [ud-brightness-97]{color: hsl(0, 0%, 97%)!important}
svg[udark-guess="logo"] [ud-brightness-98]{color: hsl(0, 0%, 98%)!important}
svg[udark-guess="logo"] [ud-brightness-99]{color: hsl(0, 0%, 99%)!important}

