
.ud_overImage {
    color: white;
    mix-blend-mode: exclusion;
    ;}

    
iframe {
    /*Iframe get light background in dark color schemes and vice versa*/
    color-scheme: light!important; /*Fortunately all css can be overriden unconditoonally in this file*/
  }

svg text,
svg tspan,
svg[udark-guess="logo"] [class]:not([fill]),
svg[udark-guess="logo"] [style]:not([fill])
 {
    fill: var(--ud-fg--fill-color, #fff)!important; /*When we see fill text we will propose an alternate value which will be used. If no valuse fallback to white */
}

* {
    scrollbar-color:rgba(255,255,255,0.40) rgba(0,0,0,0.26)
}